**096. Create the following using a
simple 2D list using the
standard Python indexing:**

In [1]:
lst = [[2,5,8],[3,7,4],[1,6,9],[4,2,0]]
print(lst)

[[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]

**097.
Using the 2D list from program 096, ask the user to
select a row and a column and display that value.**

In [2]:
row = int(input("Enter row number to display: "))
column = int(input("Enter column number to display: "))
print(lst[row][column])

Enter row number to display: 1
Enter column number to display: 1
7

**098.
Using the 2D list from program 096, ask the user
which row they would like displayed and display
just that row. Ask them to enter a new value and
add it to the end of the row and display the row again.**

In [3]:
row = int(input("Enter row number to display: "))
row_slice = lst[row]
print("Only row: ", row_slice)
new_value = int(input("Enter new value to add in a row: "))
row_slice.append(new_value)
print(row_slice)

Enter row number to display: 2
Only row:  [1, 6, 9]
Enter new value to add in a row: 1
[1, 6, 9, 1]

**099.
Change your previous program
to ask the user which row they
want displayed. Display that
row. Ask which column in that
row they want displayed and
display the value that is held
there. Ask the user if they want
to change the value. If they do,
ask for a new value and change
the data. Finally, display the
whole row again.**

In [4]:
row = int(input("Enter row number to display: "))
row_slice = lst[row]
print("Only row: ", row_slice)
column = int(input("Enter column number to display from above row slice: "))
column_slice = row_slice[column]
print(column_slice)
change = input("Do you want to change value? y/n: ")
new_value = int(input("Enter new value to add in a row: "))
row_slice.append(new_value)
print("Whole row: ",row_slice)

Enter row number to display: 1
Only row:  [3, 7, 4]
Enter column number to display from above row slice: 1
7
Do you want to change value? y/n: y
Enter new value to add in a row: 9
Whole row:  [3, 7, 4, 9]

**100.
Create the following using a 2D dictionary showing
the sales each person has made in the different
geographical regions:**

In [7]:
sales_data = {"John":{"N":3056, "S":8463, "E":8441, "W":2694},
               "Tom":{"N":4832, "S":6786, "E":4737, "W":3612},
               "Anne":{"N":5239, "S":4802, "E":5820, "W":1859},
            "Fiona":{"N":3904, "S":3645, "E":8821, "W":2451}
             }
print("Sales of Each person: \n", sales_data)

Sales of Each person:
 {'John': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}, 'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612}, 'Anne': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1859}, 'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}

**101.
Using program 100, ask the user for a name and a region. Display the relevant data. Ask
the user for the name and region of data they want to change and allow them to make
the alteration to the sales figure. Display the sales for all regions for the name they
choose.**

In [9]:
name = input("Enter name: ")
region = input("Enter region: ")
data = sales_data[name][region]
print("Relevent Data: ", data)
name1 = input("Enter name to change data: ")
region1 = input("Enter region to change data: ")
update_data = int(input(f"Enter new data you want to update for {name1} and {region1}: "))
sales_data[name1][region1] = update_data
print(f"Sales for all regions for {name1}: {sales_data[name1]}")

Enter name: Tom
Enter region: N
Relevent Data:  4832
Enter name to change data: John
Enter region to change data: N
Enter new data you want to update for John and N: 4200
Sales for all regions for John: {'N': 4200, 'S': 8463, 'E': 8441, 'W': 2694}

**102.
Ask the user to enter the name, age and shoe size for four
people. Ask for the name of one of the people in the list and
display their age and shoe size.**

In [17]:
shoe_data = {}
for i in range(4):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    shoe_size = int(input("Enter shoe size: "))
    shoe_data[name] = {"Age":age, "Shoe Size": shoe_size}
name = input("Enter name of person to display his age and shoe size")
print(shoe_data[name])

Enter name: Ashok
Enter age: 30
Enter shoe size: 7
Enter name: Mak
Enter age: 34
Enter shoe size: 8
Enter name: Harsh
Enter age: 30
Enter shoe size: 6
Enter name: Sahil
Enter age: 32
Enter shoe size: 8
Enter name of person to display his age and shoe sizeSahil
{'Age': 32, 'Shoe Size': 8}

**103.
Adapt program 102
to display the
names and ages of
all the people in
the list but do not
show their shoe
size.**

In [21]:
shoe_data = {}
for i in range(4):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    shoe_size = int(input("Enter shoe size: "))
    shoe_data[name] = {"Age":age, "Shoe Size": shoe_size}
print("Names and Ages of people in dictionarye are: \n")
for person in shoe_data :
    print(person, shoe_data[person]["Age"])

Enter name: shiv
Enter age: 33
Enter shoe size: 9
Enter name: Priya
Enter age: 3
Enter shoe size: 2
Enter name: Babool
Enter age: 17
Enter shoe size: 6
Enter name: Sidheshwar
Enter age: 20
Enter shoe size: 7
Names and Ages of people in dictionarye are:

shiv 33
Priya 3
Babool 17
Sidheshwar 20

**104.
After gathering the four names, ages and shoe sizes, ask the
user to enter the name of the person they want to remove from
the list. Delete this row from the data and display the other rows
on separate lines.**

In [22]:
shoe_data = {}
for i in range(4):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    shoe_size = int(input("Enter shoe size: "))
    shoe_data[name] = {"Age":age, "Shoe Size": shoe_size}
else:
    name_to_remove = input("Enter name to remove: ")
    del shoe_data[name_to_remove]
    print("Remaining rows : \n",shoe_data)

Enter name: Jay
Enter age: 12
Enter shoe size: 4
Enter name: Vaibhavi
Enter age: 22
Enter shoe size: 6
Enter name: Amruta
Enter age: 26
Enter shoe size: 7
Enter name: Shiv
Enter age: 33
Enter shoe size: 9
Enter name to remove: Shiv
Remaining rows :
 {'Jay': {'Age': 12, 'Shoe Size': 4}, 'Vaibhavi': {'Age': 22, 'Shoe Size': 6}, 'Amruta': {'Age': 26, 'Shoe Size': 7}}