### 1. Basic Python Programs

Ask for the user’s first name and
display the output message
Hello [First Name] .

In [1]:
name = input("Enter first Name: ")
print("Hellow {}".format(name))

Enter first Name: SHivanand
Hellow SHivanand

Ask for the user’s first name and then ask for
their surname and display the output message
Hello [First Name] [Surname].

In [3]:
name = input("Enter first Name: ")
sirname = input("Enter Sir Name: ")
print("Hello {} {}".format(name, sirname))

Enter first Name: shiv
Enter Sir Name: ekatpure
Hello shiv ekatpure

Write code that will display the joke “What do you call a bear with no
teeth?” and on the next line display the answer “A gummy bear!” Try to
create it using only one line of code.

In [4]:
print("What do you call a bear with no teeth?\nA gummy bear!")

What do you call a bear with no teeth?
A gummy bear!

Ask the user to enter
two numbers. Add
them together and
display the answer as
The total is
[answer].

In [6]:
n1 = int(input("Enter a Number 1: "))
n2 = int(input("Enter a Number 2: "))
print(f"The total is: {n1 + n2}")

Enter a Number 1: 2
Enter a Number 2: 3
The total is: 5

Ask the user to enter three
numbers. Add together the first
two numbers and then multiply
this total by the third. Display the
answer as The answer is
[answer].

In [7]:
n1 = int(input("Enter a Number 1: "))
n2 = int(input("Enter a Number 2: "))
n3 = int(input("Enter a Number 3: "))
print(f"The answer is: {(n1 + n2)*n3}")

Enter a Number 1: 2
Enter a Number 2: 3
Enter a Number 3: 4
The answer is: 20

Ask how many slices
of pizza the user
started with and ask
how many slices
they have eaten.
Work out how many
slices they have left
and display the
answer in a userfriendly
format.

In [8]:
started_pizza = input("how many slices of pizza started with? ")
eaten_pizza = input(" how many slices they have eaten? ")
left_pizza = int(started_pizza) - int(eaten_pizza)
print(f"{left_pizza} slices of pizza are left")

how many slices of pizza started with? 10
 how many slices they have eaten? 9
1 slices of pizza are left

Ask the user for their name and their age. Add 1 to their age
and display the output [Name] next birthday you
will be [new age].

In [9]:
name = input("Enter your Name: ")
age = int(input("Enter your current age: "))
print(f"{name} next birthday you will be {age + 1}")

Enter your Name: Shivanand
Enter your current age: 32
Shivanand next birthday you will be 33

Ask for the total price of the bill, then ask how
many diners there are. Divide the total bill by the
number of diners and show how much each
person must pay.

In [10]:
total_bill = int(input("Enter total price of bill: "))
no_of_dinners = int(input("Enter how many diners are there? "))
print(f"Each person should pay {total_bill/no_of_dinners} rupees")

Enter total price of bill: 200
Enter how many diners are there? 4
Each person should pay 50.0 rupees

Write a program
that will ask for a
number of days
and then will
show how many
hours, minutes
and seconds are
in that number of
days.

In [12]:
no_of_days = int(input("Enter number of days: "))
hrs = no_of_days * 24
minutes = hrs * 60
seconds = minutes * 60
print(f"In {no_of_days} days, there are {hrs} hours, {minutes} minutes, {seconds} seconds")

Enter number of days: 1
In 1 days, there are 24 hours, 1440 minutes, 86400 seconds

There are 2,204 pounds in a kilogram. Ask the
user to enter a weight in kilograms and convert it
to pounds.

In [13]:
weight_in_kg = int(input("Enter weight in Kgs"))
weight_in_pounds = weight_in_kg * 2204
print(f"for {weight_in_kg} Kg weight in pounds is : {weight_in_pounds}")

Enter weight in Kgs1
for 1 Kg weight in pounds is : 2204

Task the user to enter a number over 100 and then enter a number under
10 and tell them how many times the smaller number goes into the larger
number in a user-friendly format.

In [15]:
num100 = int(input("Enter a number over 100: "))
num10 = int(input("Enter a number under 10: "))
print(f"{num100//num10} many times {num10} goes into {num100}")

Enter a number over 100: 200
Enter a number under 10: 5
40 many times 5 goes into 200

## 2. If statements

012.
Ask for two numbers. If
the first one is larger
than the second, display
the second number first
and then the first
number, otherwise show
the first number first and
then the second.

In [16]:
n1 = int(input("Enter a Number 1: "))
n2 = int(input("Enter a Number 2: "))
if n1 > n2 :
    print(n2, n1)
else:
    print(n1, n2)

Enter a Number 1: 10
Enter a Number 2: 20
10 20

Ask the user to enter a
number that is under
20. If they enter a
number that is 20 or
more, display the
message “Too high”,
otherwise display
“Thank you”.

In [18]:
num = int(input("Enter a Number under 20 : "))
if num >=20 :
    print("Too high")
else:
    print("Thank you")

Enter a Number under 20 : 12
Thank you

Ask the user to enter a
number between 10 and 20
(inclusive). If they enter a
number within this range,
display the message “Thank
you”, otherwise display the
message “Incorrect
answer”.

In [21]:
num = int(input("Enter a Number between 10 & 20 : "))
if num <=20 and num >=10 :
    print("Thank you")
else:
    print("Incorrect answer")

Enter a Number between 10 & 20 : 21
Incorrect answer

015.
Ask the user to enter their favourite colour. If they enter “red”, “RED” or
“Red” display the message “I like red too”, otherwise display the message
“I don’t like [colour], I prefer red”.

In [24]:
col = input("enter your favourite colour")
if col == 'Red' or col == 'RED' or col == 'red':
    print("I like red too")
else:
    print(f"I don’t like {col}, I prefer red”.")

enter your favourite colourblack
I don’t like black, I prefer red”.

016. 
Ask the user if it is raining and convert their answer to lower case
so it doesn’t matter what case they type it in. If they answer “yes”,
ask if it is windy. If they answer “yes” to this second question,
display the answer “It is too windy for an umbrella”, otherwise
display the message “Take an umbrella”. If they did not answer yes
to the first question, display the answer “Enjoy your day”.

In [30]:
raining = (input("is it raining? ")).lower()
if raining == 'yes':
    windy = (input("is it windy? ")).lower()
    if windy == 'yes':
        print("It is too windy for an umbrella")
    else:
        print("Take an umbrella")
else:
    print("Enjoy your day")

is it raining? no
Enjoy your day

017.
Ask the user’s age. If they
are 18 or over, display the
message “You can vote”, if
they are aged 17, display the
message “You can learn to
drive”, if they are 16, display
the message “You can buy a
lottery ticket”, if they are
under 16, display the
message “You can go Trickor-
Treating”.

In [35]:
age = int(input("Enter your age: "))
if age >= 18 :
    print("You can vote")
elif age == 17 :
    print("You can learn to drive")
elif age == 16 :
    print("You can buy a lottery ticket")
else:
    print("You can go Trickor- Treating")

Enter your age: 5
You can go Trickor- Treating

018. 
Ask the user to enter a number. If it is under 10,
display the message “Too low”, if their number is
between 10 and 20, display “Correct”, otherwise
display “Too high”.

In [38]:
num = int(input("Enter a Number: "))
if num < 10 :
    print("Too low")
elif num > 10 and num < 20 :
    print("Correct")
else:
    print("Too high")

Enter a Number: 21
Too high

019.
Ask the user to enter 1, 2 or 3. If they enter a 1, display
the message “Thank you”, if they enter a 2, display
“Well done”, if they enter a 3, display “Correct”. If
they enter anything else, display “Error message”.

In [44]:
num = input("Enter a Number 1, 2 or 3: ")
if num == "1" :
    print("Thank You")
elif num == "2" :
    print("Well done")
elif num == "3" :
    print("Correct")

Enter a Number 1, 2 or 3: 1
Thank You

### 3. string

In [45]:
"\""

'"'

In [46]:
"\'"

"'"

In [47]:
"\\"

'\\'

In [49]:
print("\\")

\

020.
Ask the user to enter
their first name and
then display the
length of their name.

In [50]:
name = input("enter your first name: ")
print("Length of name is : {}".format(len(col)))

enter your first nameShivanand
Length of name is : 9

021.
Ask the user to enter their first name and then ask them to
enter their surname. Join them together with a space between
and display the name and the length of whole name.

In [52]:
name = input("enter your first name: ")
surname = input("enter your surname: ")
print("{} {}".format(name, surname))

enter your first name: shiv
enter your surname: ekatpure
shiv ekatpure

022.
Ask the user to enter their first name and surname in lower
case. Change the case to title case and join them together.
Display the finished result.

In [1]:
name = input("enter your first name in lower case: ")
surname = input("enter your surname in lower case: ")
full_name = name.title() + " " + surname.title()
print(full_name)

enter your first name in lower case: shivanand
enter your surname in lower case: ekatpure
Shivanand Ekatpure

023.
Ask the user to type in the first
line of a nursery rhyme and
display the length of the string.
Ask for a starting number and an
ending number and then display
just that section of the text
(remember Python starts
counting from 0 and not 1).

In [19]:
nursery_rhyme = input("type in the first line of a nursery rhyme and display the length of the string :  ")
print(len(nursery_rhyme)," is lenght of entered line.")
start_num = int(input("Enter starting number:  "))
end_num = int(input("Enter Ending number:  "))
print(nursery_rhyme[start_num - 1 :end_num])

type in the first line of a nursery rhyme and display the length of the string :  Jingle Bell
11  is lenght of entered line.
Enter starting number:  1
Enter Ending number:  4
Jing

024.
Ask the user to type in any word and display it in
upper case.

In [10]:
word = input("Enter any word: ")
print(word.upper())

Enter any word: hare krishna
HARE KRISHNA

025.
Ask the user to enter their first name. If the length
of their first name is under five characters, ask
them to enter their surname and join them
together (without a space) and display the name
in upper case. If the length of the first name is five
or more characters, display their first name in
lower case.

In [12]:
first_name = input("Enter your first name: ")
if len(first_name) < 5 :
    surname = input("Enter your surname: ")
    name = first_name + surname
    print(name.upper())
else:
    print(first_name.lower())

Enter your first name: Shree
shree

026.
Pig Latin takes the first consonant of a word,
moves it to the end of the word and adds on an
“ay”. If a word begins with a vowel you just add
“way” to the end. For example, pig becomes igpay,
banana becomes ananabay, and aadvark becomes
aadvarkway. Create a program that will ask the
user to enter a word and change it into Pig Latin.
Make sure the new word is displayed in lower case.

In [16]:
word = input("Enter any word: ")
if word[0] not in "aeiou":
    new_word = word[1:] + word[0] + "ay"
else:
    new_word = word + "way"
new_word = new_word.lower()
print(new_word)

Enter any word: aadvark
aadvarkway

### 4. Maths Programs

027.
Ask the user to enter a
number with lots of
decimal places. Multiply
this number by two and
display the answer.

In [21]:
number = float(input("Enter a number with lots of decimal places : "))
print("Given Number multiplied by 2 is: ", number * 2)

Enter a number with lots of decimal places : 3.4145123453446564
Given Number multiplied by 2 is:  6.829024690689312

028. 
Update program 027 so that it will display the answer to
two decimal places.

In [27]:
print(round(number * 2, 2), " is an answer in two decimal places")

6.83  is an answer in two decimal places

029
Ask the user to enter an integer that is over 500. Work
out the square root of that number and display it to two decimal places.

In [29]:
import math
num = int(input("Enter a Number more than 500 : "))
square_root = math.sqrt(num)
print("Square root of ", num, "is: ", round(square_root,2))

Enter a Number more than 500 : 600
Square root of  600 is:  24.49

30. Display pi (π) to five
decimal places.

In [31]:
pi = math.pi
pi5 = round(pi, 5)
print("pi in 5 decimal places is: ", pi5)

pi in 5 decimal places is:  3.14159

031
Ask the user to enter the radius of a circle
(measurement from the centre point to the edge). Work
out the area of the circle (π*radius2).

In [33]:
radius = float(input("Enter the radius of a circle: "))
area = math.pi*radius*radius
print("area of the circle is: ", round(area,2))

Enter the radius of a circle: 3.4
area of the circle is:  36.32

032.
Ask for the radius and the depth of a cylinder
and work out the total volume (circle
area*depth) rounded to three decimal
places.

In [34]:
radius = float(input("Enter the radius of a cylinder: "))
depth = float(input("Enter the depth of a cylinder: "))
area = math.pi*radius*radius
volume = area * depth
print("total volume rounded to three decimal places is: ", round(volume, 3))

Enter the radius of a cylinder: 3.5
Enter the depth of a cylinder: 5
total volume rounded to three decimal places is:  192.423

033.
Ask the user to enter two numbers.
Use whole number division to divide
the first number by the second and
also work out the remainder and
display the answer in a user-friendly
way (e.g. if they enter 7 and 2 display
“7 divided by 2 is 3 with 1
remaining”).

In [38]:
number1 = int(input("Enter first number: "))
number2 = int(input("Enter second number: "))
whole_number = number1 // number2
remainder = number1 % number2
print(number1, "divided by ", number2, "is", whole_number, "with", remainder, "remaining")

Enter first number: 7
Enter second number: 2
7 divided by  2 is 3 with 1 remaining

34. Display the following message:
If the user enters 1, then it should ask them for
the length of one of its sides and display the
area. If they select 2, it should ask for the base
and height of the triangle and display the area. If
they type in anything else, it should give them a
suitable error message.

In [45]:
num = int(input("Enter a number 1 or 2: "))
if num == 1 :
    side = float(input("Enter a side of square: "))
    area = side*side
    area = round(area, 2)
    print(f"Area of sqaure having side {side} is {area} square units")
if num == 2 :
    base = float(input("Enter a base of triangle: "))
    height = float(input("Enter a height of triangle: "))
    area = 1/2 * base * height
    area = round(area, 2)
    print(f"area of triangle for base {base} and height {height} is: {area} square units")

Enter a number 1 or 2: 1
Enter a side of square: 2.3
Area of sqaure having side 2.3 is 5.29 square units